body {
  font-family: Arial, sans-serif;
    background-image: url("{% static 'background.gif' %}");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    margin: 0;
    color: #fff;
}

.city-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}

.weather-info, .forecast-info, .alerts-container, .welcome-message {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
}

.alert {
  background-color: rgba(255, 0, 0, 0.7);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
}
